<div class="reg-container">
  {{#if (eq nextButton "family")}}
  <h2>Family Information</h2>
  <h4>*Married couples please register as your own family, not with your parents</h4>
    {{#bs-form as |form|}}
      <div class="row">
        <div class="col-xs-5 info {{if errors.lastName 'has-error'}}">
          {{form.element label="Family Last Name" required=true placeholder="Family last name" value=model.lastName onChange=(action "update" "lastName" "model.lastName")}}
        </div>
        <div class="col-xs-7 info {{if errors.staying 'has-error'}}">
          {{form.element controlType="textarea" label="Where will you be staying while attending the family reunion?" value=model.staying  onChange=(action "update" "staying" "model.staying") placeholder="Ex: Campground E-9 or Aspen Village #204"}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 info {{if errors.numAdults 'has-error'}}">
          {{form.element label="Number of Adults" placeholder="#" value=model.numAdults onChange=(action "update" "numAdults" "model.numAdults")}}
        </div>
        <div class="col-xs-3 info {{if errors.numberBabies 'has-error'}}">
          {{form.element label="Number of Babies(ages 0-1)" placeholder="#" value=model.numberBabies onChange=(action "update" "numberBabies" "model.numberBabies")}}
        </div>
        <div class="col-xs-3 info {{if errors.numberChildren 'has-error'}}">
          {{form.element label="Number of Children(ages 2-11)" placeholder="#" value=model.numberChildren onChange=(action "update" "numberChildren" "model.numberChildren")}}
        </div>
        <div class="col-xs-3 info {{if errors.numberTeens 'has-error'}}">
          {{form.element label="Number of Teens(ages 12-18)" placeholder="#" value=model.numberTeens onChange=(action "update" "numberTeens" "model.numberTeens")}}
        </div>
      </div>
      {{bs-button defaultText="Continue" type="primary" onClick=(action "familyNext")}}
    {{/bs-form}}
    {{/if}}
    {{#if (eq nextButton "info")}}
    <h2>Family members information</h2>
    <h4>Please provide first names for all adults. For children provide first name, age(at time of reunion) and t-shirt size(ages 12-18)</h4>
    {{#bs-form as |familyForm|}}
      <div class="row">
        <div class="col-xs-4 info">
          <h3>Adults Names</h3>
          {{#each model.adults as |adult index|}}
            <div class="row">
              <div class="col-xs-12 {{if (get errors (concat "adult" index)) 'has-error'}}">
                {{familyForm.element label=(concat "Adult " (sum index 1)) placeholder="First Name" value=adult onChange=(action "setAdult" index)}}
              </div>
            </div>
          {{/each}}
        </div>
        <div class="col-xs-8 info">
          <h3>Child Names</h3>
          {{#each model.children as |child index|}}
          <div class="row">
          <div class="col-xs-6 {{if (get errors (concat "childName" index)) 'has-error'}}">
            {{familyForm.element label=(concat "Child " (sum index 1)) placeholder="First name" value=child.firstName onChange=(action "selectChildName" (concat "childName" index) child)}}
          </div>
          <div class="col-xs-3 {{if (get errors (concat "childAge" index)) 'has-error'}}">
            <label for={{concat "select-age" index}}>Age</label>
            <select id={{concat "select-age" index}} onchange={{action "selectChildAge" (concat "childAge" index) child}}>
                <option value="" selected disabled hidden>Age</option>
                {{#each ages as |age|}}
                    <option value={{age}} selected={{eq child.age age}}>{{age}}</option>
                {{/each}}
            </select>
          </div>
          <div class="col-xs-3 {{if (get errors (concat "childShirtSize" index)) 'has-error'}}">
            {{#if (gt child.age 11)}}
            <label for={{concat "select-shirt" index}}>t-shirt size</label>
            <select id={{concat "select-shirt" index}} value={{child.shirtSize}} onchange={{action "selectShirtSize" child index}}>
                <option value="" selected disabled hidden>Size</option>
                {{#each tshirtSizes as |size|}}
                    <option value={{size}} selected={{eq child.shirtSize size}}>{{size}}</option>
                {{/each}}
            </select>
            {{/if}}
          </div>
        </div>
          {{/each}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-xs-offset-1">
          {{bs-button defaultText="Back" type="primary" onClick=(action "back")}}
          <div><span class="warning">Going back will clear names</span></div>
        </div>
        <div class="col-xs-2 col-xs-offset-6">
          {{bs-button defaultText="Continue" type="primary" onClick=(action "infoNext")}}
        </div>
      </div>
      {{/bs-form}}
      {{/if}}
      {{#if (eq nextButton "payment")}}
    <h2>Primary Contact Information</h2>
      {{#bs-form as |contactForm|}}
        <div class="row">
          <div class="col-xs-6 info">
            {{contactForm.element label="First Name" placeholder="First name" value=contact.name onChange=(action "update" "name" "contact.name")}}
          </div>
            <div class="col-xs-6 info">
              {{contactForm.element label="Email" placeholder="Email" value=contact.email onChange=(action "update" "email" "contact.email")}}
            </div>
        </div>
        <div class="row">
          <div class="col-xs-6 info">
            {{contactForm.element label="Cell Phone" placeholder="Cell phone" value=contact.cellPhone onChange=(action "update" "cellPhone" "contact.cellPhone")}}
          </div>
          <div class="col-xs-6 info">
            {{contactForm.element label="Home Phone" placeholder="Home phone" value=contact.homePhone onChange=(action "update" "homePhone" "contact.homePhone")}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 info">
            {{contactForm.element label="Address Line 1" value=address.addressLine1 placeholder="street" onChange=(action "update" "addressLine1" "address.addressLine1")}}
          </div>
          <div class="col-xs-6 info">
            {{contactForm.element label="Address Line 2" value=address.addressLine2 placeholder="apt" onChange=(action "update" "addressLine2" "address.addressLine2")}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 info">
            {{contactForm.element label="City"  value=address.city placeholder="City" onChange=(action "update" "city" "address.city")}}
          </div>
          <div class="col-xs-6 info {{if errors.stateProvinceRegion 'has-error'}}">
            {{contactForm.element label="State/Province/Region" placeholder="State/Province/Region" value=address.stateProvinceRegion onChange=(action "update" "stateProvinceRegion" "address.stateProvinceRegion")}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 info">
            {{contactForm.element label="ZIP/Postal Code" placeholder="ZIP/Postal Code" value=address.zipPostalCode onChange=(action "update" "zipPostalCode" "address.zipPostalCode")}}
          </div>
          <div class="col-xs-6 info">
            {{contactForm.element label="Country" value=address.country placeholder="Country" onChange=(action "update" "country" "address.country")}}
          </div>
        </div>
      {{pay-buttons cost=model.cost complete=complete model=model}}
        <div class="row">
          <div class="col-xs-2 col-xs-offset-1">
            {{bs-button defaultText="Back" type="primary" onClick=(action "back")}}
          </div>
        </div>
      {{/bs-form}}
      {{/if}}
</div>
