<div class="reg-container">
  <h2>Information</h2>
    {{#bs-form model=this as |form|}}
      <div class="row">
        <div class="col-xs-6">
          {{form.element label="First Name" placeholder="First name" property="model.firstName" onChange=(action (mut model.firstName))}}
        </div>
        <div class="col-xs-6">
          {{form.element label="Last Name" placeholder="Last name" property="model.lastname" onChange=(action (mut model.lastName))}}
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          {{form.element label="Email" placeholder="Email" property="contact.email" onChange=(action (mut contact.email))}}
        </div>
        <div class="col-xs-6">
          {{form.element controlType="textarea" label="Where will you be staying while attending the family reunion?" property="staying" placeholder="Ex: Campground E-9 or Aspen Village #204" onChange=(action (mut model.staying))}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          {{form.element label="Cell Phone" placeholder="Cell phone" property="contact.cellPhone" onChange=(action (mut contact.cellPhone))}}
        </div>
        <div class="col-xs-6">
          {{form.element label="Home Phone" placeholder="Home phone" property="contact.homePhone" onChange=(action (mut contact.homePhone))}}
        </div>
      </div>
    {{/bs-form}}
    <h2>Address</h2>
    {{#bs-form model=this as |addressForm|}}
      <div class="row">
        <div class="col-xs-6">
          {{addressForm.element label="Address Line 1" placeholder="street" property="address.addressLine1" onChange=(action (mut address.addressLine1))}}
        </div>
        <div class="col-xs-6">
          {{addressForm.element label="Address Line 2" placeholder="apt" property="address.addressLine2" onChange=(action (mut address.addressLine2))}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          {{addressForm.element label="City" placeholder="City" property="address.city" onChange=(action (mut address.city))}}
        </div>
        <div class="col-xs-6">
          {{addressForm.element label="State/Province/Region" placeholder="State/Province/Region" property="address.stateProvinceRegion" onChange=(action (mut address.stateProvinceRegion))}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          {{addressForm.element label="ZIP/Postal Code" placeholder="ZIP/Postal Code" property="address.zipPostalCode" onChange=(action (mut address.zipPostalCode))}}
        </div>
        <div class="col-xs-6">
          {{addressForm.element label="Country" placeholder="Country" property="address.country" onChange=(action (mut address.country))}}
        </div>
      </div>
    {{/bs-form}}
  {{pay-buttons cost=model.cost complete=complete model=model}}
</div>
