
<div>
  <h3>Amount due: ${{cost}} USD</h3>
  <div>
    {{bs-button id="saveButton" defaultText="Pay at Waterton" type="primary" onClick=(action "save")}}
    <div class="pos" id="paypal-button"></div>
    <div id="saveMe" onClick={{action "pay"}}></div>
  </div>
</div>
<script id="payPal" cost={{cost}}>

    paypal.Button.render({

        env: 'production', // Or 'production'

        client: {
            //sandbox:    'AayhdGM-GUe3_-y5ZiCosnrU_oYxOsgoL6bnt1_wSgVL013cR51VwoYXMVNcyYd-8z13sfcC-iD6kWOn'
          production: 'AQqYn2wLmlTJMwslxBuhQHvHnobcRtt49C7eQHM3QEC4AklOcIv9LEdD33-JTDnIXYnrnhoKkUMPF3XN'
        },

        commit: true, // Show a 'Pay Now' button

        payment: function(data, actions) {
          var c = $('#payPal').attr('cost');
            return actions.payment.create({
                payment: {
                    transactions: [
                        {
                            amount: { total: c, currency: 'USD' }
                        }
                    ]
                }
            });
        },

        onAuthorize: function(data, actions) {
            return actions.payment.execute().then(function(payment) {
                $('#saveMe').trigger('click')
                // The payment is complete!
                // You can now show a confirmation message to the customer
            });
        }

    }, '#paypal-button');
</script>
