@import "ember-bootstrap/bootstrap";
@import "individual-signup";
@import "register";

.header-container {
  width: 90%;
  height: 200px;
  background-image: url('/assets/images/watertonLakes.png');
  background-repeat:no-repeat;
  background-size: 100% 100%;
  text-align: center;
  margin: auto;

  h1, h2, h3 {
    font-weight: 900;
    color: papayawhip;
  }
  .details {
    padding-top: 10px;
  }
}
.reg-container {
  margin: auto;
  width: 80%;
}

label {
  display: block;
}

.test {
  display: block;
  float: left;
}

@import "ember-bootstrap/bootstrap";
