select {
  width: 100%;
  height: 34px;
  text-align-last: center;
  option{
    text-align: center;
  }
  border-radius: 4px;
}
.dropdown {
  height: 100px;
  overflow-y: scroll;
}
select[disabled] {
  cursor: not-allowed;
  background-color: #eeeeee;
}
#saveMe {
  display: none;
}
#saveButton {
  margin-top: -40px;
}
.pos {
  display: inline-block;
  margin: 10px;
}
.has-error {
  input {
    border-color: #a94442;
  }
  select {
    border-color: #a94442;
  }
  label {
      color: #a94442;
  }
}
.warning {
  color: #a94442;
}
.danger {
   border-color: #d9534f;
}
.details {
  text-align: center;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
tr > th {
  text-align: center;
  padding: 5px;
  background-color: white !important;
}
tr > td {
    padding: 5px;
    text-align: center;
}
tr:nth-child(odd) {
    background-color: #dddddd;
}
.row {
  padding: 10px;
}

.info {
  min-width: 250px;
}
.selected {
  button, .btn-default:focus {
    background-color: #90a4ae;
  }
}

.err {
  color: red;
}

button {
  padding: 5px;
}
