<div class="header-container">
  <div class="details">
    <h1>Johansen Family Reunion</h1>
    <h3>Waterton Lakes National Park, Canada</h3>
    <h3>July 15 - 18, 2018</h3>
  </div>
</div>
{{outlet}}
