<div class="reg-container">
  {{#if (not signedIn)}}
  <div class="col-xs-4 col-xs-offset-4" align="center">
    {{#bs-form model=this as |form|}}
      {{form.element label="username" placeholder="username" value=username onChange=(action (mut username))}}
      {{form.element label="password" placeholder="password" value=password onChange=(action (mut password))}}
      {{bs-button defaultText="Sign in" type="primary" onClick=(action "signIn")}}
    {{/bs-form}}
    {{#if signInErr}}
    <div class="err">Error: Incorrect username/password </div>
    {{/if}}
</div>
  {{else}}
<h1>Registered Families</h1>
<table>
  <tr>
    <th></th>
    <th>Last Name</th>
    <th>Cost</th>
    <th>Paid</th>
    <th>Relative</th>
    <th>Staying</th>
    <th># Adults</th>
    <th># kids(ages 0-2)</th>
    <th># kids(ages 3-11)</th>
    <th># kids(ages 12-18)</th>
    <th>Adults names</th>
    <th>Children info</th>
    <th>Contact</th>
    <th>Address</th>
  </tr>
    {{#each family as |f index|}}
    <tr>
    <td>{{sum index 1}}</td>
    <td>{{f.lastName}}</td>
    <td>{{f.cost}}</td>
    <td>{{f.paid}}</td>
    <td>{{#if (eq f.relative "Marble")}}Mable{{else}}{{f.relative}}{{/if}}</td>
    <td>{{f.staying}}</td>
    <td>{{f.numAdults}}</td>
    <td>{{f.numberBabies}}</td>
    <td>{{f.numberChildren}}</td>
    <td>{{f.numberTeens}}</td>
    <td>
      {{#each f.adults as |a|}}
        <li>{{a}}</li>
      {{/each}}
    </td>
    <td>
      {{#each f.children as |c|}}
          <li>{{c.firstName}}, {{c.age}} {{#if (gt c.age 11)}} ({{c.shirtSize}}) {{/if}}</li>
      {{/each}}
    </td>
    <td>
      <div>name: {{f.contact.name}}</div>
      <div>cell: {{f.contact.cellPhone}}</div>
      <div>home: {{f.contact.homePhone}}</div>
      <div>email: {{f.contact.email}}</div>
    </td>
    <td>
      <div>{{f.contact.address.addressLine1}}</div>
      <div>{{f.contact.address.addressLine2}}</div>
      <div>{{f.contact.address.city}}</div>
      <div>{{f.contact.address.stateProvinceRegion}}</div>
      <div>{{f.contact.address.zipPostalCode}}</div>
      <div>{{f.contact.address.country}}</div>
    </td>
  </tr>
    {{/each}}  <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b>Adults</b></td>
        <td><b>Ages 0-2</b></td>
        <td><b>Ages 3-11</b></td>
        <td><b>Ages 12-18</b></td>
        <td><b>Ages 8-11</b></td>
      </tr>
    <tr>
      <td><b>Totals</b></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>{{totalAdults}}</td>
      <td>{{totalBabies}}</td>
      <td>{{totalKids}}</td>
      <td>{{totalTeens}}</td>
      <td>{{totalPreTeen}}</td>
    </tr>
</table>
  <h1>Registered Individuals</h1>
  <table>
    <tr>
      <th></th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Cost</th>
      <th>Paid</th>
      <th>Relative</th>
      <th>Staying</th>
      <th>Contact</th>
      <th>Address</th>
    </tr>
      {{#each individual as |f index|}}
      <tr>
      <td>{{sum index 1}}</td>
      <td>{{f.firstName}}</td>
      <td>{{f.lastName}}</td>
      <td>{{f.cost}}</td>
      <td>{{f.paid}}</td>
      <td>{{#if (eq f.relative "Marble")}}Mable{{else}}{{f.relative}}{{/if}}</td>
      <td>{{f.staying}}</td>
      <td>
        <div>cell: {{f.contact.cellPhone}}</div>
        <div>home: {{f.contact.homePhone}}</div>
        <div>email: {{f.contact.email}}</div>
      </td>
      <td>
        <div>{{f.contact.address.addressLine1}}</div>
        <div>{{f.contact.address.addressLine2}}</div>
        <div>{{f.contact.address.city}}</div>
        <div>{{f.contact.address.stateProvinceRegion}}</div>
        <div>{{f.contact.address.zipPostalCode}}</div>
        <div>{{f.contact.address.country}}</div>
      </td>
    </tr>
      {{/each}}
  </table>
{{/if}}
</div>
