<div class="details">
  {{#if (not complete)}}
  {{#if (eq nextButton "family")}}
  <h1> Start Registration </h1>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <label for="select-rel">Select who are you a descendant of:</label>
      <select id="select-rel" onchange={{action "selectPerson" value="target.value"}}>
          <option value="" selected disabled hidden>Select Relative</option>
          {{#each relatives as |relative|}}
              <option value={{relative}} selected={{eq model.relative relative}}>{{relative}}</option>
          {{/each}}
      </select>
    </div>
  </div>
  {{/if}}
    {{#if relative}}
    <div class="row">
      <div class="col-xs-12">
        <span class={{if (eq formType "individual") 'selected'}}>
        {{#bs-button onClick=(action "selectForm" "individual")}}Individual Registration{{/bs-button}}
        </span>
        <span class={{if (eq formType "family") 'selected'}}>
          {{#bs-button onClick=(action "selectForm" "family")}}Family Registration{{/bs-button}}
        </span>
      </div>
    </div>
    {{/if}}
    {{#if (eq formType "individual")}}
      {{individual-signup model=form contact=form.contact address=form.contact.address complete=complete}}
    {{else if (eq formType "family")}}
      {{family-signup model=form store=store contact=form.contact address=form.contact.address nextButton=nextButton complete=complete}}
    {{/if}}
    {{else}}
    <div>
      <h1>Thank you for registering</h1>
      <h3>Looking forward to seeing you July 15-18</h3>
    </div>
    {{/if}}
</div>
